body {
  margin:0;
}
a {
  color:skyblue;
  text-decoration:none;
}
h1 {
  font-size:65px;
  text-align:center;
  border-bottom:2px solid skyblue;
  margin:0;
  padding:50px;
}
ol {
  border-right:2px solid skyblue;
  width:160px;
  margin:0;
  padding:20px;
  list-style: none;
}
#grid {
  display: grid;
  grid-template-columns: 260px 1fr;
}
#grid ol {
    padding:25px;
    padding-left:50px;
    padding-right:80px;
    font-size: 19px;
    line-height: 1.6;
}
#article {
  padding-left: 100px;
  padding-right:125px;
  padding-bottom:70px;
  color:gray;
  width:900px;

}
#article a {
  text-decoration-line: underline;
  font-weight:bold;
  color:gray;
}
li::before {
  content: "• ";
  color: pink; /* or whatever color you prefer */
}

  @media(max-width:800px) {
    #grid{
      display:block;
    }
    ol{
      border-right:none;
    }
    h1 {
      border-bottom:none;
    }
    #article {
      padding:80px;
      width:600px;
    }
  }
