body {
  margin:0;
}
a {
  color:skyblue;
  text-decoration:none;
}
h1 {
  font-size:65px;
  text-align:center;
  border-bottom:2px solid skyblue;
  margin:0;
  padding:50px;
}
ol {
  border-right:2px solid skyblue;
  width:160px;
  margin:0;
  padding:20px;
}
#grid {
  display: grid;
  grid-template-columns: 260px 1fr;
}
#grid ol {
    padding-left:50px;
    font-size: 18px;
}
#article {
  padding-left:30px;
  width:800px;
  padding-bottom:100px;
  color:gray;
}
#article a {
  color:black;
  text-decoration-line: underline;
}
  @media(max-width:800px) {
    #grid{
      display:block;
    }
    ol{
      border-right:none;
    }
    h1 {
      border-bottom:none;
    }
    #article {
      width:600px;
    }
  }
